# Server
PORT=3000
NODE_ENV=development

# GitHub Webhook
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# BullMQ
PR_REVIEW_QUEUE_NAME=pr-review-queue
TOKEN_ENCRYPTION_KEY=generate_with_crypto_randomBytes_32_hex
WEBHOOK_URL=https://your-ngrok-url/webhooks/github
GITHUB_APP_ID=your_app_id
GITHUB_APP_PRIVATE_KEY_PATH=./your-app.private-key.pem
